
@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
</head>
<body>
    <h1>Please Sign In</h1>
    @using (Html.BeginForm(null, null, FormMethod.Post))
    {
        <div>@Html.TextBox("UserId")</div>
        <div>@Html.Password("Password")</div>
        <div><button type="submit">Let me In</button></div>
        <div><label for="IsRember">Rember Me @Html.CheckBox("IsRember", false)</label></div>
    }
</body>
</html>

